:root{
    --bg1:rgb(1, 43, 211);
    --bg2:rgb(180, 50, 200);
}

body{
    margin:0px;
    display: grid;
    grid-template-rows: 1fr 40fr ;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,var(--bg1) ,var(--bg2));
}

header{
    backdrop-filter: blur(25px);
    background: transparent;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    height: fit-content;
    width: auto;
    align-items: center;
    padding:4px;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    box-shadow: 1px 0px 3px rgba(0,0,0,0.3);
}
.logo{
    width: fit-content;
    height: fit-content;
    grid-column: 1;
    margin-left: 5px;
}

.logo a{
    color: var(--bg2);
}

.git-button{
    width: fit-content;
    height: fit-content;
    grid-column: 3;
    justify-self: right;
    margin-right: 5px;
}

.git-button a{
    color: var(--bg1) ;
}

body>section{
    grid-row: 2;
    display: grid;
    justify-content: center;
}

.game-settings{
    grid-template-columns: 1fr 1fr 1fr;
}

.rules, .level-buttons, .scores{
    border: solid 2px rgba(150,150,150,0.5);
    color:white;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: fit-content;
    display: inline-block;
    border-radius: 10px;
    height: fit-content;
    margin: 10px;
    margin-top: 25px;
    padding: 5px;
    width: fit-content;
}

.rules{
    grid-column: 1;
    background: linear-gradient(90deg,rgb(45, 122, 246),rgb(93, 56, 255));
}

.rules h1, .scores h1{
    border-bottom: rgb(180, 50, 200) solid 2px;
    width: fit-content;
    color:white;
}

.rules p, .scores p {
    padding: 2px;
}

.rules p b, .score p b{
    color:rgb(208, 0, 255);
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}

.level-buttons{
    padding: 10px;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    background: linear-gradient(90deg,rgb(93, 56, 255),rgb(139, 56, 255));
    border-radius: 10px;
    margin-bottom: 50px;
    justify-self: center;
}

.scores{
    grid-column: 3;
    background: linear-gradient(90deg,rgb(139, 56, 255),rgb(222, 56, 255));
}

.scores p{
    padding: 2px;
}

.scores p b{
    color:rgb(208, 0, 255);
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}

.button-wrapper{
    padding: 6px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.title > h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:5px;
    height: fit-content;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px rgb(252, 71, 0) solid;
    padding: 2px;
}

.button-wrapper:hover{
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.2), rgba(50, 50, 50, 0.2));
    height:fit-content;
}

button{
    display: flex;
    justify-items: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px white solid;
    background: linear-gradient(45deg,rgb(45, 122, 246),rgb(93, 56, 255));
}

button:hover{
    background: linear-gradient(45deg, rgb(214, 4, 233),rgb(252, 71, 0));
}

button>h1{
    margin:0px;
}

.game-section{
    display: grid;
    place-items: center;
    align-items: center;
}
.game{
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background: linear-gradient(45deg, var(--bg1), var(--bg2));
    border-radius: 5px;
}